.container{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px ;
  gap: 5px;
  grid-template-areas: 
  "box1 box2 box2 box3"
  "box1 box4 box5 box5";  
}
.container .item{
  width:100%;
  height:100%;
  background-color: blue;
  color:white;
}
.grid-container{
  display: grid;
  max-width:400px;
  width:100%;
  place-items: end;
  grid-template-areas: stack;
}
.grid-container .img{
  /* grid-column: 1/2;
  grid-row: 1/2; */
  grid-area: stack;
}
.grid-container .img img{
  width:100%;
  height:auto;
  object-fit: cover;
}
.grid-container .text{
  /* grid-column: 1/2;
  grid-row: 1/2; */
  grid-area: stack;
  background-color: white;
  color:yellow;
  opacity:0.5;
  height:150px;

}