div{
  display: flex;
  flex:1;
  justify-content: left;
}
img{
  margin-left: 10px;
  height:50px;
  width:50px;
  object-position: center;
  object-fit: cover;
  border-radius: 150px;
}
input{
  font-size: 20px;
  margin-left:10px;
  border: none;

}
button{
  margin-left: 25px;
  border:none;
  color:white;
  font-weight:bold;
  background-color: rgba(60, 73, 172, 0.787);
  font-size: 15px;
  padding:8px 16px 8px 16px;
  border-radius: 30px;
}