body{
  background-color: black;
  margin: 0;
}
.nav{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:70px;
  background-color: rgb(51, 50, 50);
  display: flex;
  align-items: center;
  justify-content: center;
}
.inside{
  display: flex;
  width:75%;
  justify-content: space-between;
}
.inside a{
  text-decoration: none;
  color:grey;
  padding: 10px 20px;
  background-color: black;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out,color 0.3s ease-in-out,transform 0.15s ease-in-out;
}

.inside>a:hover{
  background-color: rgb(34, 116, 203);
  color:whitesmoke;
}
.inside>a:active{
  transform: scale(1.2) translateY(-5px);
}
#home{
  margin-top: 70px;
  width:100vw;
  height:100vh;
  background-color: green;
}
#middle{
  width:100vw;
  height:100vh;
  background-color: orange;
}
#end{
  width:100vw;
  height:100vh;
  background-color: pink;
}
.carousel{
  margin:100px auto;
  width:90%;
  border: red 5px solid;
  display:flex; 
  overflow-x: auto;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation:spin 5s infinite linear;
  padding-right: 0.5em;
  
}
.cards{
  flex: 0 0 5em;
  height:5em;
  margin-right:0.5em;
  color:whitesmoke;
  background-color:rgb(136, 175, 210);
  font-size:3rem;
}
@keyframes spin{
  from{
    tanslate:0%;
  }
  to{
    translate:-100%;
  }
}
