div{
  margin-top: 220px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  width:250px;
  border-radius:25px;
  margin-bottom: 20px; 
}
input{
  width:450px;
  padding:8px 18px;
  border:none;
  border-radius: 25px;
  text-align: left;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}