.heading{
  text-align: center;
  font-family: Montserrat;
}
p{
  text-align: center;
  font-family: Montserrat;
}
a{
  color:black;
  text-decoration: none;
  transition: text-decoration 0.15s;
  cursor:pointer;
  font-family: Montserrat;
}
a:hover{
  text-decoration: underline;
}
a:active{
  color:orange;
}