.box{
  margin: 100px 0;
}
.pro-cont{
  margin:6%;
  margin-top: 150px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap:1em;
  grid-template-areas: 
  "box1 box2 box3 box3"
  "box1 box4 box5 box5";
}
.product{
  border-radius: 10px;
  background-color: blue;
  color:black;
  overflow: hidden;
}
.product img{
  width: 100%;
  height: 100%;
  object-fit: cover;    
  object-position: center;               
}
.product .img1{
  object-position: center !important; 
}

#colling{
  width:100%;
  height:300px;
  object-fit: cover;
  object-position: center;
}

.pro-cont {
  margin: 5% 6%;
  display: grid;
  gap: 1.2rem;

  grid-template-columns: 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5";
}
.img-holder{
  height:100%;
  width:100%;
}
footer .img-holder .berserk{
  height:100%;
  width:100%;
  object-fit: cover;
  object-position: center;
}
.card-foot .card-body{
  background-color: rgb(24, 27, 131);
}
.card-body .list{
  color:white;
}
@media (min-width: 640px) {
  .pro-cont {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "box1 box1"
      "box2 box3"
      "box4 box5";
  }
}


@media (min-width: 1024px) {
  .pro-cont {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 320px 320px;
    grid-template-areas:
      "box1 box2 box3 box3"
      "box1 box4 box5 box5";
    max-width: 1300px;
    margin: 50px auto;
  }
}

.pro-cont{
  margin-bottom: 100px;
}

.inside-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 100%;
  justify-content: center;
  height:70px;                     
}
.inside-cont .inside-img{
  width:100%;
  height:100%;
}
.inside-cont .inside-img .berserk{
  height:100%;
  width:100%;
  object-fit: cover;
  object-position: center;
}
.inside-cont .inside-list{
  width:100%;
  height:100%;
  background-color: blue;
  color:white;
}

@media (max-width:540px){
  .inside-cont{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  justify-content: center;
  height:70px;                     

  }
}
footer{
  margin:0;
  padding:0;
}